<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Disasters</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
            <li><a href="https://github.com/">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />

        <div class="row">
          <div class="col-lg-12 form-group-lg">
            <form action="/go" method="get">
              <input
                type="text"
                class="form-control form-control-lg"
                name="query"
                placeholder="Enter a message to classify"
              />
              <div class="col-lg-offset-5">
                <button type="submit" class="btn btn-lg btn-success">
                  Classify Message
                </button>
              </div>
            </form>
          </div>
        </div>

        {% block message %} {% endblock %}
      </div>
    </div>

    <div class="container">
      {% block content %}
      <div class="page-header">
        <h1 class="text-center">Training Data Characteristics</h1>
      </div>

      <p>
        The entire dataset consists of 26028 short messages. Thes messages are
        annotated as "related" to indicate that they are relevant to disaster
        response, with further annotations to categorize the type of message
        into 35 subcategories. About 39% of these messages are translated from
        an original non English language into English (although some of these
        messages appear to be originally in English regardless).
      </p>
      <p>
        The two plots here display the number messages in the dataset in each
        category, and the fraction of messages in each category that are
        translated from an original non English message.
      </p>
      <div id="sums_fig"></div>
      <div id="translated_fig"></div>

      <div class="page-header">
        <h1 class="text-center">Model Performance</h1>
      </div>
      <p>A random forest model was trained on 80% of the training dataset.</p>
      <p>
        Below, the first plot displays the performance amongst each category.
        The second plot displays the F1 score of each category versus the number
        of messages in that category (the support). Overall F1 score is ~0.50.
      </p>
      <div id="perf_fig"></div>
      <div id="f1_support_fig"></div>
      {% endblock %}
    </div>

    <script type="text/javascript">
      Plotly.newPlot("perf_fig", {{perf_fig | safe}})
      Plotly.relayout("perf_fig", {'width':1000, 'height':400})
      Plotly.newPlot("f1_support_fig", {{f1_support_fig | safe}})
      Plotly.relayout("f1_support_fig", {'width':1000, 'height':1000})
      Plotly.newPlot("sums_fig", {{sums_fig | safe}})
      Plotly.relayout("sums_fig", {'width':1000, 'height':400})
      Plotly.newPlot("translated_fig", {{translated_fig | safe}})
      Plotly.relayout("translated_fig", {'width':1000, 'height':400})
    </script>
  </body>
</html>
